#vim
*~
*.sw?

# python
*.pyc

# generic editing tools
tags

#mac
*.DS_Store

# libs

# build tools
node_modules/

# logfiles
*.log
.idea/
.vscode/
.history/

# config override
config/local.json

webpack/dll
# build
build/

#tgz
*.tgz
src/test.tsx
pack.sh
stats.json